#mod-tree-templates {
	display: none;
}

.mod-tree {
	width: 100%;
}

.mod-tree-data {
	margin-bottom: 0.4em;
	height: 3em;
}

.mod-tree-rhead {
	float: left;
	width: 24em;
	height: 100%;
}

.mod-tree-margin {
	float: left;

	height: 100%;
}

.mod-tree-expander {
	float: left;

	width: 1.5em;
	height: 100%;

	text-align: center;
}

.mod-tree-expander-img {
	padding-top: 0.5em;
}

.mod-tree-id {
	float: left;

	height: 100%;
}

.mod-tree-name {
	height: 60%;

	padding-left: 0.4em;
	font-size: 1em;
	font-weight: bold;
}

.mod-tree-title {
	overflow: hidden;
	height: 40%;

	padding-left: 0.4em;
	font-size: 0.8em;
}

.mod-tree-state {
	float: left;

	width: 12em;
	height: 100%;
}

.mod-tree-state-name {
	height: 60%;

	padding-left: 0.4em;
	font-size: 1em;
	font-weight: bold;
}

.mod-tree-state-title {
	overflow: hidden;
	height: 40%;

	padding-left: 0.4em;
	font-size: 0.8em;
}

.mod-tree-tasks {
	float: left;
	margin-left: 0.4em;
	height: 100%;
}

.mod-tree-tasks-bar {
	float: left;

	width: 20em;
	height: 100%;
}

.mod-tree-tasks-total {
	float: left;
	margin-left: 0.4em;
	line-height: 3em;
}

.mod-tree-tasks-base {
	float: left;
	margin: auto 0;
	height: 100%;

	border: 0; /* debug */
}

.mod-tree-children {
}

.mod-tree-bg-failed {
	background-color: #ea5138;
}

.mod-tree-bg-finished {
	background-color: #4dc626;
}

.mod-tree-bg-running {
	background-color: #eabf14;
}

.mod-tree-bg-queued {
	background-color: #ecdc36;
}

.mod-tree-bg-submitted {
	background-color: #d4c99b;
}

.mod-tree-bg-ready {
	background-color: #9ea97e;
}

.mod-tree-bg-other {
	background-color: #485951;
}