#mon-bar-outer {
	margin: 0 auto;
	background-color: white;
	text-align: center;
	width: 100%;
	height: 38px;
	border-bottom: #ccc solid 1px;
}

#mon-bar {
	margin: 0 auto;
	width: 96%;
	text-align: left;
}