body            { font-family: sans-serif; background: #eee; }

a, h1, h2, h3, h4, h5 { color: #377BA8; }
h1, h2, h3, h4, h5    { font-family: 'Georgia', serif; }
h1                    { margin: 0; }
h2, h3, h4, h5        { margin: 0.6em 0 0.4em 0; }

h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.4em; }
h3              { font-size: 1.2em; }
h4              { font-size: 0.6em; }
h5              { font-size: 0.2em; }

.index-link {
	text-decoration: none;
}

.page           {
	margin: 1em auto; padding: 0.8em; width: 90%;
	border: 2px solid #ccc; background: white;
}

.navbar         { margin-top: 0.8em; }
.navbar ul      { list-style: none; margin: 0; padding: 0; }
.navbar li      { margin-right: 0.8em; float: left;}

.loginbar       { margin-top: 0.8em; }
.loginbar ul    { list-style: none; margin: 0; padding: 0; }
.loginbar li    { margin-right: 0.8em; float: right;}

.flash {
	padding: 0.6em;
	background: #CEE5F5;
	border: 1px solid #AACBE2;
}

.error {
	padding: 0.6em;
	background: #F0D6D6;
}

.state-msg {
	margin-top: 0.8em;
}

.state-msg-title {
	font-weight: bold;
	padding: 0.4em 0.6em;
}

.state-color-uninitialized { background-color: white; }
.state-color-waiting { background-color: #cfb0ff; }
.state-color-ready { background-color: #b0d7ff; }
.state-color-paused { background-color: #ffd3b0; }
.state-color-running { background-color: #b0ffbf; }
.state-color-submitted { background-color: #fffab0; }
.state-color-finished { background-color: #b9feb0; }
.state-color-failed { background-color: #feb0b6; }
.state-color-exception { background-color: #feb0b6; }
.state-color-exiting { background-color: #b0ffe6; }

.state-msg ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.state-msg li {
	float: left;
	margin-right: 0.8em;
}

.state_mnode {
	margin: 0.4em 0;
	padding: 0.2em;
	border: 2px solid #eee;
}

.state_mnode #name {
	font-weight: bold;
	color: #377BA8;
}

.module-table {
	border-collapse: collapse;
}

.module-table th {
	text-align: left;
}

.module-table td {
	border: 1px solid #ccc;
	padding: 0.4em 0.8em;
}

.module-table-options {
	list-style: none;
	margin: 0;
	padding: 0;
}

.module-table-options li {
	margin-right: 0.8em;
	float: left;
}

.task-table {
	border-collapse: collapse;
}

.task-table th {
	text-align: left;
}

.task-table td {
	border: 1px solid #ccc;
	padding: 0.4em 0.8em;
}

.task-table-options {
	list-style: none;
	margin: 0;
	padding: 0;
}

.task-table-options li {
	margin-right: 0.8em;
	float: left;
}

.exit-status-table {
	border-collapse: collapse;
}

.exit-status-table td {
	border: 1px solid #ccc;
	padding: 0.4em 0.2em;
}
