<!doctype html>
<html>
<head>
	<title>Wok</title>
	<link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}">

	{% block stylesheets %}
	{% endblock %}

	<script type="text/javascript"  src="{{ url_for('.static', filename='jquery-1.6.min.js') }}"></script>
	
	{% block scripts %}
	{% endblock %}
</head>
<body>
	<div id="doc">
		<div id="top-bar-outer">
			<div id="top-bar">
				<div id="logo">
					<a href="{{ url_for('home.index') }}" title="Home">
						<img id="logo-img" src="{{url_for('.static', filename='wok_logo.png')}}" alt="Wok"/>
					</a>
				</div>
				<div id="nav-links">
					<ul>
						<li><a href="{{ url_for('workflows.index') }}">Workflows</a></li>
						<li><a href="{{ url_for('monitoring.index') }}">Monitoring</a></li>
						<li><a href="{{ url_for('files.index') }}">Files</a></li>
						<li><a href="{{ url_for('settings.index') }}">Settings</a></li>
					</ul>
				</div>
				<div id="session-links">
					<ul>
						{# <li>
							{% if not session.logged_in %}
							<a href="{{ url_for('login') }}">Log in</a>
							{% else %}
							<a href="{{ url_for('logout') }}">Log out</a>
							{% endif %}
						</li>
						<li><a href="{{ url_for('engine_exit') }}">Exit</a></li> #}
					</ul>
				</div>
			</div>
		</div>

		{% block sub_bar %}
		{% endblock %}

		<div id="page">
			<div id="content">
				{% if breadcrumb is defined %}
				<div id="breadcrumb">
					<ul>
						{% for link in breadcrumb.links %}
						<li><a href="{{ link.href }}">{{ link.title }}</a></li>
						<li>&gt;</li>
						{% endfor %}
						<li>{{ breadcrumb.title }}</li>
					</ul>
				</div>

				<div style="clear: both"></div>
				{% endif %}

				{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
				{% endfor %}

				{# {% if session.logged_in %}
					{% block body %}{% endblock %}
				{% else %}
					{% block login %}
						<p>Log in to start session</p>
					{% endblock %}
				{% endif %} #}

				{% block body %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>