{% extends "layout.html" %}
{% block body %}
	<h2>Module: {{ name }}</h2>
	{% set num_submitted_tasks = mnode.submitted_tasks|length %}
	{% set num_finished_tasks = mnode.finished_tasks|length %}
	{% set num_failed_tasks = mnode.failed_tasks|length %}

	<h3>Tasks</h3>
	<table class="task-table">
		{% for queue in ['submitted', 'finished', 'failed'] %}
			{% set task_ids = mnode[queue + "_tasks"] %}
			{% if task_ids|length > 0 %}
				{% for task_id in task_ids %}
				<tr>
					<td><a href="{{ url_for('task', name=task_id) }}">{{ task_id }}</a></td>
					<td class="state-color-{{ queue }}">{{ queue }}</td>
					<td>
						<ul class="task-table-options">
							<li><a href="{{ url_for('task_conf', name=task_id, dwl=1) }}">configuration</a></li>
							{% if queue in ['finished', 'failed'] %}
							<li><a href="{{ url_for('task_output', name=task_id, dwl=1) }}">output</a></li>
							{% endif %}
						</ul>
					</td>
				</tr>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}