{% extends "layout.html" %}
{% block body %}
	<h2>Task: {{ name }}</h2>
	<div id="task-options">
		<ul>
			<li><a id="name" href="{{ url_for('task_conf', name=name) }}">Configuration</a></li>
			<li><a id="name" href="{{ url_for('task_output', name=name) }}">Output</a></li>
			<li><a id="name" href="{{ url_for('task_model', name=name) }}">Model</a></li>
		</ul>
	</div>

	<div style="clear: both">&nbsp;</div>

	{% set job = task["job"] %}
	{% if "exit" in job %}
		{% set exit = job["exit"] %}
		<table class="exit-status-table">
			{% if "elapsed_time" in job %}
			<tr><td>Elapsed time</td><td>{{ job["elapsed_time"]|elapsed_time }}</td></tr>
			{% endif %}
			{% if "code" in exit %}
			<tr><td>Exit code</td><td>{{ exit["code"] }}</td></tr>
			{% endif %}
			{% if "message" in exit %}
			<tr><td>Exit message</td><td>{{ exit["message"] }}</td></tr>
			{% endif %}
			{% if "exception" in exit %}
			<tr><td>Exit exception</td><td>{{ exit["exception"] }}</td></tr>
			{% endif %}
		</table>

		{% if "resources" in exit %}
		{% set resources = exit["resources"] %}
		<table class="exit-status-table">
			{% for name in resources %}
			<tr><td>{{ name }}</td><td>{{ resources[name] }}</td></tr>
			{% endfor %}
		</table>
		{% endif %}
	{% endif %}
{% endblock %}
