{% extends "layout.html" %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='modules_tree.css') }}">

	<style type="text/css">
	</style>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		var instance_name = "{{ name }}";
	</script>

	<script type="text/javascript" src="{{ url_for('.static', filename='js/common.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='js/modules_tree.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='js/instance.js') }}"></script>
{% endblock %}

{% block sub_bar %}
	<div id="mon-bar-outer">
		<div id="mon-bar">
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="expand-all"></div>
	<div id="collapse-all"></div>
	<div id="modules"></div>

	<div id="mod-tree-templates">
		<div class="mod-tree-node">
			<div class="mod-tree-data">
				<div class="mod-tree-rhead">
					<div class="mod-tree-margin"></div>
					<div class="mod-tree-expander"></div>
					<div class="mod-tree-id">
						<div class="mod-tree-name"></div>
						<div class="mod-tree-title"></div>
					</div>
				</div>
				<div class="mod-tree-state">
					<div class="mod-tree-state-name"></div>
					<div class="mod-tree-state-title"></div>
				</div>
				<div class="mod-tree-tasks">
					<div class="mod-tree-tasks-bar"></div>
					<div class="mod-tree-tasks-total"></div>
				</div>
			</div>
			<div class="mod-tree-children"></div>
		</div>
	</div>
{% endblock %}
