#icontrol-outer {
	margin: 0 auto;
	background-color: white;
	text-align: center;
	width: 100%;
	height: 28px;
	border-bottom: #ccc solid 1px;
}

#icontrol {
	margin: 6px 8px;
	height: 100%;
	text-align: left;
}

#icontrol-buttons {
	float:left;
}

#icontrol-state {
	float: left;
	margin-left: 1em;
	padding-left: 0.4em;
	width: 12em;
	font-weight: bold;
}

#icontrol-title {
	float: left;
	margin-left: 1em;
}