.mon-state-bg-ready {
	background-color: #FAE4BB; /*9ea97e;*/
}

.mon-state-bg-running {
	background-color: #eabf14;
}

.mon-state-bg-pausing {
	background-color: #DBD5CE; /*BBB236;*/
}

.mon-state-bg-paused {
	background-color: #DBD5CE; /*828C46;*/
}

.mon-state-bg-aborting {
	background-color: #FF602F;
}

.mon-state-bg-aborted {
	background-color: #FF602F;
}

.mon-state-bg-failed {
	background-color: #ea5138;
}

.mon-state-bg-finished {
	background-color: #4dc626;
}

.mon-state-bg-submitted {
	background-color: #d4c99b;
}

.mon-state-bg-waiting {
	background-color: #ecdc36;
}

.mon-state-bg-other {
	background-color: #485951;
}

.mon-workflows {
	margin: auto;
	width: 96%;
}

.mon-state-square {
	display: inline-block;
	margin-right: 0.8em;
	width: 2em;
	height: 100%;
}