#tabs {
	height: 100%;
	margin-left: 0.5em;
}

#tabs-header {
	margin-top: 0.5em;
}

#tabs-body {
	margin-top: 1em;
}

.tab {
}

#tab-details {}

#tab-modules {}


#tab-tasks {}

#tab-tasks-mod-sel {}

#tab-tasks-content {}


#tab-logs {}

#tab-ports {}

#tab-flow {}

#tab-conf {}