.mod-st {
	width: 100%;
}

.mod-st-data {
	margin-bottom: 0.4em;
	height: 3em;
}

.mod-st-rhead {
	float: left;
	width: 24em;
	height: 100%;
}

.mod-st-margin {
	float: left;

	height: 100%;
}

.mod-st-expander {
	float: left;

	width: 1.5em;
	height: 100%;

	text-align: center;
}

.mod-st-expander-img {
	padding-top: 0.5em;
}

.mod-st-id {
	float: left;

	height: 100%;
}

.mod-st-name {
	height: 60%;

	padding-left: 0.4em;
	font-size: 1em;
	font-weight: bold;
}

.mod-st-title {
	overflow: hidden;
	height: 40%;

	padding-left: 0.4em;
	font-size: 0.8em;
}

.mod-st-state {
	float: left;

	width: 12em;
	height: 100%;
}

.mod-st-state-name {
	height: 60%;

	padding-left: 0.4em;
	font-size: 1em;
	font-weight: bold;
}

.mod-st-state-title {
	overflow: hidden;
	height: 40%;

	padding-left: 0.4em;
	font-size: 0.8em;
}

.mod-st-progress {
	float: left;
	margin-left: 0.4em;
	height: 100%;
}

.mod-st-progress-bar {
	float: left;

	width: 20em;
	height: 100%;
}

.mod-st-progress-total {
	float: left;
	margin-left: 0.4em;
	line-height: 3em;
}

.mod-st-progress-base {
	float: left;
	margin: auto 0;
	height: 100%;

	border: 0; /* debug */
}

.mod-st-children {
}
