{% extends "layout.html" %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring/monitoring.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring/instance.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring/icontrol.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring/modules_select.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring/modules.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='monitoring/logs.css') }}">

	<style type="text/css">
	</style>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		var instance_name = "{{ name }}";
	</script>

	<script type="text/javascript" src="{{ url_for('.static', filename='common.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='monitoring/icontrol.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='monitoring/modules_select.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='monitoring/modules.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='monitoring/logs.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='monitoring/instance.js') }}"></script>
{% endblock %}

{% block sub_bar %}
	<div id="icontrol-outer">
		<div id="icontrol">
			<div id="icontrol-buttons">
				<button id="icontrol-btn-start" class="button ui-state-default ui-corner-all" type="submit"></button>
				<button id="icontrol-btn-stop" class="button ui-state-default ui-corner-all" type="submit"></button>
				<button id="icontrol-btn-reset" class="button ui-state-default ui-corner-all" type="submit"></button>
				<button id="icontrol-btn-reload" class="button ui-state-default ui-corner-all" type="submit"></button>
			</div>
			<div id="icontrol-state"></div>
			<div id="icontrol-title"></div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="tabs">
		<div id="tabs-header">
			<span id="tabs-buttons" class="ui-widget-header ui-corner-all">
				<input type="radio" name="tabs" id="tab-btn-details" value="details" /><label for="tab-btn-details">Details</label>
				<input type="radio" name="tabs" id="tab-btn-modules" value="modules" /><label for="tab-btn-modules">Modules</label>
				<input type="radio" name="tabs" id="tab-btn-tasks" value="tasks" /><label for="tab-btn-tasks">Tasks</label>
				<input type="radio" name="tabs" id="tab-btn-logs" value="logs" /><label for="tab-btn-logs">Logs</label>
				<input type="radio" name="tabs" id="tab-btn-ports" value="ports" /><label for="tab-btn-ports">Ports</label>
				<input type="radio" name="tabs" id="tab-btn-flow" value="flow" /><label for="tab-btn-flow">Workflow</label>
				<input type="radio" name="tabs" id="tab-btn-conf" value="conf" /><label for="tab-btn-conf">Configuration</label>
			</span>
		</div>

		<div id="tabs-body">
			<div id="tab-details"></div>

			<div id="tab-modules"></div>

			<div id="tab-tasks">
				<div id="tab-tasks-mod-sel"></div>
				<div id="tab-tasks-content"></div>
			</div>

			<div id="tab-logs">
				<div id="logs-mod-sel"></div>
				<div id="logs-body">
					<div id="logs-filters">
						<!--<div id="logs-task-box">-->
							<span>Task</span>
							<button id="logs-task-btn-first" class="fbtn button ui-state-default ui-corner-all" type="submit"></button>
							<button id="logs-task-btn-prev" class="fbtn button ui-state-default ui-corner-all" type="submit"></button>
							<input id="logs-task-index" name="task-index" value="0" />
							<button id="logs-task-btn-next" class="fbtn button ui-state-default ui-corner-all" type="submit"></button>
							<button id="logs-task-btn-end" class="fbtn button ui-state-default ui-corner-all" type="submit"></button>
						<!--</div>
						<div id="logs-level-box" style="float:left">-->
							<label for="logs-level">Level</label>
							<select id="logs-level">
								<option value="debug">debug</option>
								<option value="info" selected="selected">info</option>
								<option value="warn">warn</option>
								<option value="error">error</option>
								<option value="exception">exception</option>
							</select>
						<!--</div>
						<div id="logs-search-box" style="float:left">-->
							<label for="logs-search-text">Search</label>
							<input id="logs-search-text" name="logs-search-text" />
							<button id="logs-search-clean" class="fbtn button ui-state-default ui-corner-all" type="submit"></button>
						<!--</div>-->
					</div>
					<div id="logs-content"></div>
				</div>
			</div>

			<div id="tab-ports"></div>

			<div id="tab-conf"></div>

			<div id="tab-flow"></div>
		</div>
	</div>
{% endblock %}
